<p>Bienvenue sur le Rocket.Chat de Alternatiba !</p>
<p>Les règles d'utilisation, notamment concernant la gestion des fils de discussion, sont à lire <a title="Rocket.Chat rules" href="https://docs.google.com/document/d/1VP-YGjHHWRIO_wRvOiBSzI2uZ6EuUruiJkVKJ50YpWs/edit" target="_blank" rel="noopener">ici</a>.</p>
<p>Vous trouverez en ligne la <a href="http://alternatiba.frama.io/rocket-chat/presentation-outil.html" target="_blank">présentation de l'outil</a> et un <a href="http://alternatiba.frama.io/rocket-chat/rocket-chat-tuto.html" target="_blank">tutoriel d'utilisation</a>.</p>
<p>Les applications Rocket.Chat pour PC Windows, macOS and Linux sont <a title="Rocket.Chat desktop apps" href="https://rocket.chat/download" target="_blank" rel="noopener">téléchargeables ici</a>.</p>
<p>L'application mobile native, Rocket.Chat+, pour Android et iOS est disponible depuis <a title="Rocket.Chat+ on Google Play" href="https://play.google.com/store/apps/details?id=chat.rocket.android" target="_blank" rel="noopener">Google Play</a> et l'<a title="Rocket.Chat+ on the App Store" href="https://itunes.apple.com/app/rocket-chat/id1148741252" target="_blank" rel="noopener">App Store</a>.</p>
<p>Pour aller plus loin, consulter la <a title="Rocket.Chat Documentation" href="https://rocket.chat/docs/" target="_blank" rel="noopener">documentation</a>.</p>
